<div>
  <% @cosmes.each do |cosme| %>
    <% if user_signed_in? && current_user.id == cosme.user_id %>
        <span>投稿者</span><%= cosme.user.nickname %>
      <%= link_to '編集', "/cosmes/#{cosme.id}/edit", method: :get %>
      <%= link_to '削除',"/cosmes/#{cosme.id}", method: :delete %>
      <%= cosme.text %>
      <%= image_tag cosme.image.url %>
    </div>
    <% end %>
  <% end %>
 <%= paginate(@cosmes) %>
</div>