    <% @cosmes.each do |cosme| %>
     <div class="more_list clearfix">
          <ol class="more clearfix" style="border-radius: 20px;">
            <li class="box"><span><font color="black">投稿者</font></span><%= cosme.user.nickname %></li>
            <li class="box"><font color="black">コスメの感想：</font><%= cosme.text %><font color="black">コスメ情報：</font><%= cosme.info %></li>
            <li class="box"><%= image_tag cosme.image.url %></li>
            <% if user_signed_in? && current_user.id == cosme.user_id %>
              <li class="box"><%= link_to '編集', "/cosmes/#{cosme.id}/edit", method: :get, class: "color" %></li>
              <li class="box"><%= link_to '削除',"/cosmes/#{cosme.id}", method: :delete, class: "color" %></li>
            <% end %>
          </ol>
      </div>
     <% end %>
    <%= paginate(@cosmes) %>
