<!DOCTYPE html>
<html>
  <head>
    <title>organic cosme</title>
    <meta charset="UTF-8" />
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track' => "reload" %>
    <%= javascript_include_tag 'application' %>
    <% csrf_meta_tags %>
  </head>

    <% flash.each do |key, value| %>
      <% key = "info" if key == "notice" %>
      <% key = "danger"  if key == "alert" %>
      <%= content_tag :div, value, class: "alert alert-#{key}" %>
    <% end %>

<div class="body">
  <div class="wrapper">
  <div>
    <header class="header">
        <h1 class="grid-6" style="float:left">
          <a href="/">Organiccosme</a>
        </h1>

        <% if user_signed_in? %>
           <ul class="user_nav grid-6 nl button" id="menu" style="float:left">
             <li> <%= current_user.nickname %>
              <ul class="pull">
                 <li>
                  <a href="/users/<%= current_user.id %>">マイページ</a>
                 </li>
                  <li>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'post' %>
                  </li>
                  <li>
                    <a class="post button" href="/cosmes/new">投稿する</a>
                  </li>
                </ul>
              </li>
            </ul>
          <% else %>
              <ul class="user_nav grid-6 nl button" id="menu" style="float:left">
               <li>口コミ
                  <ul class="pull">
                   <li>
                     <%= link_to "ログイン", new_user_session_path, :class => 'post' %>
                   </li>
                   <li>
                     <%= link_to "新規登録", new_user_registration_path, :class => 'post' %>
                   </li>
                 </ul>
                </li>
              </ul>
          <% end %>
    </header>

     <div class="navbar">
      <ul class="nl clearfix" id="menu">
           <li style="float:left"><a href="<%= pages_brand_path %>">オーガニックコスメのブランド</a></li>
           <li style="float:left"><a href="<%= pages_popular_path %>">人気のオーガニックコスメ</a></li>
           <li style="float:left"><a href="<%= pages_hot_path %>">おすすめのオーガニックコスメ</a></li>
           <li style="float:left"><a href="<%= pages_foundation_path %>">オーガニックファンデーション</a></li>
           <li style="float:left"><a href="<%= pages_sunscreen_path %>">オーガニック日焼け止め</a></li>
           <li style="float:left"><a href="<%= pages_madeinjapan_path %>">国産オーガニックコスメ</a></li>
        </ul>
      </div>

  </div>

      <%= yield %>

 </div>

</div>

<footer>
  copy right 2016
</footer>
</html>
